
/* ********* Profile CSS ********* */
/* Start Golbal Rule */
:root {
  --primary: #06A3DA;
  --secondary: #F57E57;
  --secondary-alt: #eb5928;
  --light: #EEF9FF;
  --dark: #0587b6;
  --transition: 0.5s;
  --box-shodow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:not(i) {
  font-family: 'Rubik', sans-serif !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #269ad4;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    text-decoration: none !important;
}

body {
  direction: rtl;
  text-align: right;
  font-family: 'Rubik', sans-serif;
  direction: rtl;
  font-size: 14px;
  line-height: 24px;
  overflow-x: hidden;
  text-align: right;
}

button {
  font-family: 'Rubik', sans-serif !important;
}


/*-----------------------------------------------------------*/
/*main titile*/
.section-title h2{
  position: relative;
  display: inline-block;
  font-size: 24px;
  margin-bottom: 20px;
}
.section-title h2::before {
  position: absolute;
  content: "";
  width: 88%;
  height: 4px;
  right: 0;
  bottom: -10px;
  border-radius: 6px;
  background: var(--primary);
}
.section-title h2::after {
  position: absolute;
  content: "";
 width: 12%;
 height: 4px;
 right: 0;
 bottom: -10px;
  background: var(--secondary);
}
/*-----------------------------------------------------------*/

/* End Global Rule */
/*---------------------------------------------------------
 1. Reset
-------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}



main {
  display: block;
}


html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}



aside,
footer,
header,

nav,
section {
  display: block;
}

/*---------------------------------------------------------
 2. Basic Style
-------------------------------------------------------- */



a:hover {
  color: #08414b;
}

.main-content,
.banner-bg {
  float: left;
  width: 77%;
}
@media screen and (max-width: 1290px) {
  .main-content,
  .banner-bg {
    width: 70%;
  }
}
@media screen and (max-width: 992px) {
  .main-content,
  .banner-bg {
    width: 100%;
  }
}

.content-wrapper {
  padding: 0 80px;
}
@media screen and (max-width: 992px) {
  .content-wrapper {
    padding: 0 30px;
  }
}

h4.widget-title {
  font-size: 16px;
  font-family: 'robotobold';
  text-transform: uppercase;
  margin-bottom: 40px;
}

hr {
  position: relative;
  outline: 0;
  border: 0;
  width: 100%;
  height: 4px;
  background: #444444;
  margin-top: 40px;
  margin-bottom: 0;
}

.page-section {
  padding-top: 80px;
}

/*---------------------------------------------------------
 3. Header
-------------------------------------------------------- */
.sidebar-menu {
  float: right;
  width: 23%;
  height: 100%;
  position: fixed;
  background-color: var(--primary);
  color: white;
  overflow-y: hidden;
  box-shadow:  var(--box-shodow);
}
@media screen and (max-width: 1290px) {
  .sidebar-menu {
    overflow-y: scroll;
    width: 30%;
  }
}

.top-section {
  padding: 40px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border: 4px solid white;
  -webkit-border-radius: 75px;
  border-radius: 75px;
  overflow: hidden;
  margin-bottom: 20px;
}
.profile-image img {
  width: 100%;
}

h3.profile-title {
  margin-bottom: 5px;
  color: white;
  font-size: 18px;
  font-family: 'robotobold';
}

.main-navigation {
  margin: 30px 0;
}
.main-navigation li {
  display: block;
}
.main-navigation li a {
  padding: 15px 40px;
  display: block;
  color: white;
  font-size: 14px;
  transition: var(--transition);
  border-radius: 4px;
}
.main-navigation li a i {
  margin-left: 15px;
  font-size: 18px;
}
.main-navigation li a:hover {
  background: var(--dark);
}
.main-navigation li a.active {
  background: #20829b;
}
.main-navigation li a.active:hover {
  background: #0692c5;
}

.social-icons {
  display: block;
  padding: 30px 40px;
}
.social-icons li {
  display: inline-block;
  margin-left: 20px;
  transition: var(--transition);
}
.social-icons a {
  font-size: 18px;
  color: white;
  transition: var(--transition);
}
.social-icons a:hover {
  color: #282e35;
}

.responsive-header {
  background: white;
  text-align: right;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: var(--transition);
  z-index: 1000;
}
.responsive-header::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: var(--primary);
}
@media screen and (max-width: 992px) {
  .responsive-header .main-navigation {
    margin-top: 10px;
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .responsive-header p {
    color: white;
  }
}
@media screen and (max-width: 992px) {
 
  .responsive-header .profile-content {
    text-align: right;
    margin-top: 30px;
    overflow: hidden;
  }
}

@media screen and (max-width: 992px) {
  .top-section {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 992px) {
  .main-navigation a {
    padding: 10px;
    color: var(--primary) !important;
    transition: var(--transition) !important;
    border-radius: 4px;
  }
  .main-navigation a.active {
    background: rgb(6 163 218 / 40%) !important;
    transition: var(--transition) !important;
  }
  .main-navigation a:hover {
    background: var(--primary) !important;
    color: white !important;
  }
}

.toggle-menu {
  width: 100%;
  display: inline-block;
  padding: 20px;
  margin-right: auto;
  margin-top: 0;
  color: var(--primary) !important;
  font-size: 18px;
  text-align: left;
}
.toggle-menu:hover {
  color: var(--dark);
}

/*---------------------------------------------------------
 4. Main Content
-------------------------------------------------------- */
/*------ banner ------ */
.banner-bg {
  padding: 260px 80px;
  position: relative;
  background: linear-gradient(rgba(9, 30, 62, .85), rgba(9, 30, 62, .85)), url(../img/carousel-1.jpg) center center no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
}



.welcome-text {
  position: relative;
  z-index: 4;
  color: white;
  text-align: center;
}
.welcome-text h1 {
  font-size: 42px;
  color: white;
  margin-bottom: 20px;
}
.welcome-text h2 {
  font-size: 25px;
  color: white;
  margin-bottom: 30px;
}
.welcome-text a {
  font-size: 20px;
  color: white;
}
@media(max-width:767px){
  .banner-bg{
    height: 70vh;
  }
  .welcome-text{
    max-width: 100%;
    font-size: 70%;
  }
  .welcome-text h1{
    font-size: 30px;
  }
  .welcome-text h2{
    font-size: 20px;
  }
}
/*------ about us ------ */


/*------ Diagnosis ------ */
.fromgroup{
  padding: 10px 15px;
}
#input{
  padding: 30px 10px; 
  font-size: 25px;
  color: var(--primary);
  background-color: transparent;
  outline: none !important;
}
#input:focus{
  outline: none !important;
  border: none !important;
}
.add{
  background-color: var(--primary);
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  width: 150px;
  font-weight: 500;
  transition: var(--transition);
}
.add:hover{
  background-color: var(--dark);
  color: #dddddd;
}
.tasks {
  background-color: white;
  border-radius: 6px;
  padding: 10px 15px;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: var(--transition);
  border: 3px solid #e6e6e6;
  padding: 10px 15px;
  border-radius: 6px;
  background-color: rgb(6 163 218 / 100%);
  color: white;
  font-size: 20px;
 
}
@media(max-width:767px){
  .task{
    font-size: 12px;
    padding:  5px;
  }
  .tasks .task .date{
    font-size: 9px;
  }
  .tasks .task span{
    font-size: 9px;
    padding: 2px 4px;
  }
}
.tasks .task:not(:last-child) {
  margin-bottom: 15px;
}

.tasks .task:hover {
  background-color:var(--dark);
}

.tasks .task.done {
  opacity: 0.5;
  background-color: rgb(6 163 218 / 80%);
  text-decoration: line-through;
}

.tasks .task .date {
  font-size: 10px;
}
.tasks .task span {
  font-size: 10px;
  background-color: #ff1e1e;
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  cursor: pointer;
}



/*---------------------------------------------------------
 5. Footer
-------------------------------------------------------- */

#footer p.copyright-text {
  margin: 30px 0;
  font-size: 15px;
  color: var(--primary);
}

